.container-Pub{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
.animeTxT{
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}